<div class="row justify-content-center">
  <div class="col-sm-10 col-md-9 col-lg-8 offset-sm-0 offset-md-1 offset-lg-2 p-5">
    <app-info-box>
      <div class="info-title">
        About
      </div>
      <div class="info-text">
        <p>
          CoreTex web platform designed by a developer for developers.<br/>
          This platform was created to make it easier to create new applications.<br/>
          The platform solves most of the developer's routine actions and allows you to focus on the implementation of your idea.<br/>
          <br/>
          Platform offer you simple and lightweight toolset to web application creation.<br/>
        </p>
        <p>
          If you have a questions or you just want to join to dev teem please write on my email: <a href="mailto:gerasimenko.art@gmail.com">gerasimenko.art@gmail.com</a> <br/>
          Or visit <a target="_blank" href="https://github.com/G-Art/coretex_web_platform/wiki">github repository</a>
        </p>
      </div>
    </app-info-box>
  </div>
</div>
