@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

//fonts
$default-font-family: 'Allerta Stencil', sans-serif;
$default-font-size: 0.75rem;
$navbar-font-size: 0.75rem;
$default-font-color: #f0ece2;

//links
$default-link-color: $default-font-color;
$default-link-color-selected: #71aadc;
$default-link-color-hover: #c4c4c4;


//background
$default-background-image: "assets/img/bg-h.jpeg";
$default-background-color: #0a1015;
$default-background-color-second: #13202a;
$default-border-color-light: #536161;
$default-border-color-dark: darken($default-background-color-second, 5%);
$navbar-background-color: $default-background-color-second;

//glass
$default-opacity: 0.15;
$default-blur: 5px;
$default-perspective: 500px;
$default-glass-background-color: #000000;

$default-logo-image: "assets/img/logo.svg";
